<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>StreakChat</title>
</head>
<body>
    <h1>StreakChat</h1>
    <p>{{user.name}}</p>
    <p>Streak: {{ user.streak }}</p>
    
    <a href="/home/addcontact">Add Friend</a><br/>
    <a href="/home/createchat">Create Chat</a><br/>
    <a href="/logout">Logout</a>

    <p>Contacts</p>
    {% if not user.contact_list %}
    <p>No added contacts</p>
    {%else%}
    <table>
        {%for contact in contacts%}
        <tr>
            <td>{{contact.name}}</td>
            <td> |</td>
            <td> Streak: {{contact.streak}}</td>
        </tr>
        {%endfor%}
    </table>
    {%endif%}
</body>